@font-face {
    font-family: 'YaHei';
    src: url('../fonts/YaHei.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AslinaBold';
    src: url('../fonts/AslinaBold.ttf');
    font-weight: normal;
    font-style: normal;
}